@import url('https://fonts.googleapis.com/css?family=Adamina&display=swap');

html {
    font-size: 10px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #979797;
    z-index: 1;
    position: absolute;
    height: 44px;
    width: 100%;
    font-family: 'Adamina', serif;
    color: #ffffff;
}

.header .logo {
    float: left;
    z-index: 1;
    padding: 10px;
    font-weight: 700;
    color: #ffffff;
}

/* logo in header(mobile version) and side-nav (tablet & desktop) */
.logo {
    /* height: 44px; */
    padding-top: 7px;
    margin-bottom: 15px;
}

.logo div i {
    font-size: 5.5rem;
    color: #808080;
}

.logo span {
    font-size: 1.25rem;
}

.nav-trigger {
    position: relative;
    float: right;
    width: 20px;
    height: 44px;
    right: 30px;
    display: block;
    top: -45px;
}

.nav-trigger span,
.nav-trigger span:before,
span:after {
    width: 20px;
    height: 2px;
    background-color: #35475e;
    position: absolute;
}

.nav-trigger span {
    top: 50%;
}

.nav-trigger span:before,
.nav-trigger span:after {
    content: "";
}

.nav-trigger span:before {
    top: -6px;
}

.nav-trigger span:after {
    top: 6px;
}


.side-nav {
    position: absolute;
    width: 100%;
    background-color: #f9fbfd;
    border-radius: 3px;
    height: 100vh;
    z-index: 1;
    display: none;
    padding-top: 34px;
    border: 1px solid #cccccc;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}

.side-nav .logo {
    color: rgb(30, 30, 30);
    padding-left: 15px;
    font-size: 2rem;
}

.visible {
    display: block;
}

.side-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-nav ul li {
    padding: 20px 10px;
    /* border-bottom: 1px solid #333333; */
}

.side-nav ul li.active:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 100%;
    border: 1px solid orange;
    top: 0;
    left: 0;
    background-color: #fff;
}

.side-nav ul li a {
    color: rgb(30, 30, 30);
    text-decoration: none;
    font-family: 'Adamina', serif;
}

.side-nav ul li:hover {
    color: #0497df;
    background-color: #dfe6e9;
    transition: color 250ms ease-in-out;
    background-color: 250ms ease-in-out;
    border-left: 4px solid #0497df;
}

.side-nav ul li a i {
    color: #0497df;
    min-width: 20px;
    text-align: center;
}

.logo i {
    font-size: 2rem;
}

.logo span {
    margin-left: 5px;
    text-transform: uppercase;
}

.logo span a {
    text-decoration: none;
    color: #ffffff;
}

.main-content {
    padding-top: 44px;
    background: #dfe6e9;
    padding-left: 50px;
    padding-bottom: 40px;
}

.main__cc_hh {
    height: 100vh;
}

.main-content__cc {
    padding-top: 44px;
    background: #dfe6e9;
    padding-left: 50px;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.main-content__wrapper {
    background: #ffffff;
    width: 88%;
    padding: 40px;
    border-radius: 2px;
}

.main-content__wrapper-listin {
    background: #ffffff;
    width: 88%;
    padding: 20px;
    border-radius: 2px;
}

.container-inner {
    border: 1px solid #dfe6e9;
    padding-right: 7px;
    margin-right: 40px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}

.container-inner__i {
    padding: 15px 1px;
    text-align: center;
}

.container-inner__i a {
    text-decoration: none;
    color: rgb(30, 30, 30);
}

.container-inner__i span {
    font-size: 3.5rem;
    font-weight: 600;
}

.container-inner__i .fas-txt {
    font-size: 1.7rem;
    font-family: 'Adamina', serif;
    padding-top: 5px;
}

footer {
    bottom: -10px;
    position: fixed !important;
    width: 100%;
    z-index: 3;
    background: #b2bec3;
    padding: 15px;
    text-align: center;
    letter-spacing: 1px;
    color: #ffffff;
    font-size: 1.7rem;
}

.footer-txt1 {
    font-size: 2.3rem;
    padding-bottom: 10px;
    font-family: 'Adamina', serif;
}

.footer-txt2 {
    font-size: 1.7rem;
    padding-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

/***********
***********
 POST A PROPERTY *****************/
.listin__wrapper__dd {
    margin: 40px 0;
    padding-bottom: 35px;
}

.main-content__form,
.main-content__form-new {
    background-color: #f5f6fa;
    padding: 50px;
}

.clearfix {
    clear: both;
}

.main-content__form .form__group:not(:last-child),
.main-content__form-new .form__group:not(:last-child) {
    margin-bottom: 2rem;
}

.main-content__form .form__input,
.main-content__form-new .form__input {
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background: rgba(255, 255, 255, .8);
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    box-shadow: 0 15px 60px 0 rgba(31, 48, 146, 0.11);
}

.main-content__form .form__input {
    width: 100%;
}

.main-content__form .form__input::-webkit-input-placeholder {
    color: #999999;
}

.main-content__form .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgb(30, 30, 30, .1);
    border-bottom: 3px solid #cccccc;
}

.main-content__form .form__input:focus:invalid {
    border-bottom: 3px solid #0497df;
}

.main-content__form .form__group label {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.8rem;
    display: block;
    transition: all .3s;
}

.form__send-pst {
    width: 30%;
    border-radius: 3px;
    padding: 15px;
    background: #0497df;
    color: #ffffff;
    border: none;
    font-size: 2rem;
    font-family: 'Adamina', serif;
    margin-top: 20px;
}

.form__send-pst:hover {
    cursor: pointer;
}

.form__group-center {
    display: flex;
    justify-content: center;
}

.section--space {
    margin-top: 30px;
}

.section--type-ad span img {
    width: 100%;
    margin-right: 20px;
}

.section--type-ad p {
    width: 100%;
    margin-bottom: 10px;
}

.section-title-ad {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1.5rem;
}

.section-title-s span {
    letter-spacing: 1px;
    line-height: 16px;
    font-size: 1.3rem;
}

.section--type p {
    float: left;
    width: 70%;
}

.b-amt {
    font-size: 1.8rem;
    font-weight: 600;
    width: 32%;
    padding-right: 20px;
    display: flex;
}

.b-amt a {
    text-decoration: none;
}

.icon-edit {
    border-radius: 20px;
    background-color: #78cce2;
    color: #ffffff;
    padding: 9px;
    margin-right: 5px;
}

.add-list-btn {
    background: #78cce2;
    color: #ffffff;
    font-size: 1.6rem;
    letter-spacing: 1px;
    padding: 15px;
    border-radius: 15px;
}

.center-btn {
    text-align: center;
    margin-bottom: 35px;
}

.center-btn a {
    text-decoration: none;
}

/****
*****
DELETE A PROPERTY ADVERT  */
.btn-delete {
    border-radius: 20px;
    background: #be363a;
    color: #ffffff;
    padding: 9px;
    cursor: pointer;
}

.button {
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.button:hover {
    /* background: #be363a; */
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.inner-popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.inner-popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 2rem;
}

.inner-popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    text-decoration: none;
    color: #333;
}

.inner-popup .close:hover {
    color: #be363a;
    font-weight: bold;
}

.inner-popup .content {
    max-height: 30%;
    overflow: auto;
    font-size: 1.7rem;
}

.btn-action {
    display: flex;
    justify-content: center;
}

.btn-yes {
    color: #fff !important;
    padding: 8px;
    margin: 10px 0;
    text-align: center;
    border-radius: 10px;
    font-weight: 500;
    font-size: 1.6rem;
    margin-right: 10px;
    background: #be363a;
    /* #0497df; */
    width: 25% !important;
}

.btn-yes a {
    color: #fff;
    text-decoration: none;
}

/*****
UPDATE PROPERTY ADVERT  */
.main-content__form-txt {
    font-size: 2rem;
    letter-spacing: 1px;
    font-family: 'Adamina', serif;
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
}

/***
MARK AS SOLD  */

.ff__mark_sold {
    background: #e74c3c;
    padding: 6px 25px;
    font-size: 2rem;
    color: #ffffff;
    position: absolute;
    /* top: 28rem; */
}

.hide {
    display: none;
}

/*****
****
MEDIA QUERIES  */
@media screen and (min-width: 600px) {
    .side-nav {
        display: block;
        width: 80px;
        position: fixed;
    }

    .side-nav ul li {
        text-align: center;
    }

    .side-nav ul li span:nth-child(2) {
        display: none;
        margin-left: 10px;
        font-size: 14px;
        font-weight: 600;
    }

    .side-nav ul li a i {
        font-size: 2.6rem;
    }

    .nav-trigger {
        display: none;
    }

    .nav-trigger span,
    .nav-trigger span:before,
    span:after {
        background-color: #fff;
    }

    .main-content,
    .main-content__cc {
        margin-left: 80px;
    }

    .main-content__sold {
        top: 22%;
    }

}

@media screen and (min-width: 800px) {
    header {
        background-color: black;
        z-index: 1;
        display: none;
    }

    header .logo {
        display: none;
    }

    .side-nav ul li a i {
        font-size: 2rem;
    }

    .main-content,
    .main-content__cc {
        padding-left: 60px;
    }

    .container {
        display: flex;
    }

    .container-inner {
        width: 50%;
    }

}

@media screen and (min-width: 1000px) and (max-width: 1199px) {
    .header {
        display: none;
    }

    .side-nav {
        width: 200px;
        position: fixed;
    }

    .logo div i {
        font-size: 5.5rem;
        padding-left: 50px;
        color: #808080;
    }

    .register-container-a {
        margin: 20px 1px 80px 100px;
        width: 50%;
    }

    .side-nav ul li {
        text-align: left;
        font-size: 1.7rem;
    }

    .side-nav ul li span:nth-child(2) {
        display: inline;
    }

    .side-nav ul li a i {
        font-size: 2.6rem;
    }

    .logo span {
        padding-left: 25px;
    }

    .main-content,
    .main-content__cc {
        padding-left: 150px;
        /* border: 1px solid #0497df; */
    }

    .main-content__wrapper .main-content__form {
        margin-left: 2rem;
        width: 600px;
    }

    .main-content__lintin-wrapper {
        display: flex;
    }

    .main-content__listin-icons {
        padding-left: 3rem;
    }

    .main-content__sold {
        background: #e74c3c;
        padding: 6px 20px;
        font-size: 2rem;
        color: #ffffff;
        border-radius: 3px;
        z-index: 9999;
        position: absolute;
    }

    .list__inner_wrapper {
        display: flex;
    }

    .ff__inner_wrapper {
        width: 32%;
    }

    .b-amt {
        float: left;
        width: 25%;
    }

    .section--type-ad span img {
        float: left;
        width: 20%;
    }

    .section--type-ad p {
        float: left;
        width: 35%;
    }

    .b-amt {
        float: left;
        font-size: 1.8rem;
        font-weight: 600;
        width: 26%;
        padding-right: 20px;
    }
}

@media screen and (min-width: 1200px) {
    .side-nav {
        width: 200px;
        position: fixed;
    }

    .side-nav ul li {
        text-align: left;
    }

    .side-nav ul li span:nth-child(2) {
        display: inline;
    }

    .side-nav ul li {
        font-size: 1.7rem;
    }

    .logo div i {
        font-size: 5.5rem;
        padding-left: 50px;
        color: #808080;
    }

    .logo span {
        font-size: 1.7rem;
        padding-left: 25px;
    }

    .main-content,
    .main-content__cc {
        padding-left: 150px;
    }

    .main-content__wrapper .main-content__form {
        margin-left: 13rem;
        width: 650px;
    }

    .main-content__lintin-wrapper {
        display: flex;
    }

    .main-content__listin-icons {
        padding-left: 4.9rem;
    }

    .main-content__sold {
        background: #e74c3c;
        padding: 6px 20px;
        font-size: 2rem;
        color: #ffffff;
        border-radius: 3px;
        z-index: 9999;
        position: absolute;
    }

    .main-content__listin-ppt img {
        width: 350px;
    }

    .list__inner_wrapper {
        display: flex;
    }

    .ff__inner_wrapper {
        width: 32%;
    }

    .b-amt {
        float: right;
        width: 30%;
    }

    .section--type-ad span img {
        float: left;
        width: 20%;
    }

    .section--type-ad p {
        float: left;
        width: 38%;
    }

    .b-amt {
        width: 32%;
        padding-right: 20px;
        display: inline;
    }
}